/*
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 * MA 02110-1301, USA.
 *
 */

@keyframes pulse {
  from {background-color: #77a;}
  to {background-color: #335;}
}

.bookcard {
    border-color: #113;
    background-color: #335;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 0 0 8px #222;
    animation-name: pulse;
    animation-duration: 3s;
}

.bookcardpop {
    border-color: #113;
    background-color: #335;
}

.birubutton {
    border-radius: 16px;
}

.bookcard:hover {
    box-shadow: 0 0 12px #111;
}

.labeltop {
    font-weight: bold;
    font-size: 1.4em;
}

entry {
    border-radius: 20px;
    padding: 8px;
    background: rgba(0,0,0,0.2);
}

.tagbtn_parody {
    border-radius: 16px;
    background-color: orange;
    box-shadow: 0 0 2px #111;
}

.tagbtn_character {
    border-radius: 16px;
    background-color: yellow;
    box-shadow: 0 0 2px #111;
}

.tagbtn_tag {
    border-radius: 16px;
    background-color: green;
    box-shadow: 0 0 2px #111;
}

.tagbtn_artist {
    border-radius: 16px;
    background-color: brown;
    box-shadow: 0 0 2px #111;
}

.title_en {
    font-weight: bold;
    font-size: 1.3em;
}

.title_jp {
    font-size: 1.2em;
}

.tagcat {
    font-size: 1.1em;
}

.reader {
    background-position: 0% 0%, 0px 64px;
    background-repeat: repeat, repeat;
    background-image: linear-gradient(135deg, rgb(112, 128, 144) 21px, rgb(217, 236, 255) 22px, rgb(217, 236, 255) 24px, transparent 24px, transparent 67px, rgb(217, 236, 255) 67px, rgb(217, 236, 255) 69px, transparent 69px), linear-gradient(225deg, rgb(112, 128, 144) 21px, rgb(217, 236, 255) 22px, rgb(217, 236, 255) 24px, transparent 24px, transparent 67px, rgb(217, 236, 255) 67px, rgb(217, 236, 255) 69px, transparent 69px);
    background-origin: padding-box, padding-box;
    background-clip: border-box, border-box;
    background-color: rgb(112, 128, 144);
    background-size: 64px 128px;
}
