/*
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 * MA 02110-1301, USA.
 *
 */

@keyframes pulse {
  from {background-color: #77a;}
  to {background-color: #335;}
}

.bookcard {
    border-color: #113;
    background-color: #335;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 0 0 8px #222;
    animation-name: pulse;
    animation-duration: 3s;
}

.bookcardpop {
    border-color: #113;
    background-color: #335;
}

.birubutton {
    border-radius: 16px;
}

.bookcard:hover {
    box-shadow: 0 0 12px #111;
}

.labeltop {
    font-weight: bold;
    font-size: 1.4em;
}

entry {
    border-radius: 20px;
    padding: 8px;
}

.tagbtn {
    border-radius: 16px;
    background-color: green;
}

.reader {
    background-position: 0px 0px, 8px 8px, 0px 1px, 8px 9px;
    background-repeat: repeat, repeat, repeat, repeat;
    background-image: radial-gradient(at center center, black 15%, transparent 16%), radial-gradient(at center center, black 15%, transparent 16%), radial-gradient(at center center, rgba(255, 255, 255, 0.1) 15%, transparent 20%), radial-gradient(at center center, rgba(255, 255, 255, 0.1) 15%, transparent 20%);
    background-origin: padding-box, padding-box, padding-box, padding-box;
    background-clip: border-box, border-box, border-box, border-box;
    background-color: rgb(40, 40, 40);
    background-size: 16px 16px;
}

.reader2 {
    background-color: rgb(85, 85, 102);
    background-image: linear-gradient(30deg, rgb(68, 68, 85) 12%, transparent 12.5%, transparent 87%, rgb(68, 68, 85) 87.5%, rgb(68, 68, 85)), linear-gradient(150deg, rgb(68, 68, 85) 12%, transparent 12.5%, transparent 87%, rgb(68, 68, 85) 87.5%, rgb(68, 68, 85)), linear-gradient(30deg, rgb(68, 68, 85) 12%, transparent 12.5%, transparent 87%, rgb(68, 68, 85) 87.5%, rgb(68, 68, 85)), linear-gradient(150deg, rgb(68, 68, 85) 12%, transparent 12.5%, transparent 87%, rgb(68, 68, 85) 87.5%, rgb(68, 68, 85)), linear-gradient(60deg, rgb(153, 153, 170) 25%, transparent 25.5%, transparent 75%, rgb(153, 153, 170) 75%, rgb(153, 153, 170)), linear-gradient(60deg, rgb(153, 153, 170) 25%, transparent 25.5%, transparent 75%, rgb(153, 153, 170) 75%, rgb(153, 153, 170));
    background-size: 80px 140px;
    background-position: 0px 0px, 0px 0px, 40px 70px, 40px 70px, 0px 0px, 40px 70px
}
